@import "../../scss/functions";

.mRangeSelector {
    --barColor: #666;
    --barActiveColor: #424242;
    --pasiveColor: #666;
    --activeColor: var(--textColor);
    --middleColor: #424242;
    --handlerColor: var(--textColor);

    @media (prefers-color-scheme: dark) {
        --inputBorderColor: #999;
    }

    * {
        user-select: none;
    }

    &__handler {
        @property --borderColor {
            syntax: '<color>';
            inherits: false;
            initial-value: transparent;
        }

        --size: 20px;
        --borderColor: transparent;
        --shadowSize: 2px;

        position: absolute;
        top: 50%;
        left: var(--position);
        height: 40px;
        flex: 0 0 40px;
        border: 0;
        background: transparent;
        transform: translateX(-50%) translateY(-50%);
        will-change: left;

        & > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: var(--size);
            height: var(--size);
            background: var(--handlerColor);
            border-radius: 50%;
            border: 5px solid var(--borderColor);
            box-shadow: 0 0 var(--shadowSize) var(--shadowSize) #3333;
            transition: width ease-in-out 150ms, height ease-in-out 150ms, border ease-in-out 150ms, box-shadow ease-in-out 150ms;
            will-change: width, height, left, border, box-shadow;
        }

        &:hover,
        &:focus-within {
            --size: 30px;
            --shadowSize: 5px;

            outline: 0;
            cursor: grab;
        }

        &--active {
            &#{&} {
                --borderColor: var(--highlightColor);

                cursor: grabbing;
            }
        }
    }

    &__label {
        $label: &;

        position: relative;
        flex: 0 1 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        * {
            cursor: default;
        }

        &__input {
            background-color: var(--backgroundColor);
            color: var(--textColor);
            width: css-max(calc(70px + 1.3ch), calc((var(--characters) * 1.2ch) + 1.3ch));
            height: 30px;
            margin-block: 5px;
            margin-right: 5px;
            padding: 1px 1.3ch 0 0;
            flex: 1 1 100%;
            font-size: 1rem;
            border: 0;
            border-bottom: 2px solid transparent;
            text-align: right;
            transition: border-bottom-color ease-in-out 200ms;

            &:focus-visible {
                outline: 0;
            }
        }

        &__currency {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        &--currencyPosition-left {

            #{$label} {
                &__input {
                    margin-left: 5px;
                    padding-left: 1.3ch;
                    margin-right: 0;
                    padding-right: 0;
                    text-align: left;
                }

                &__currency {
                    right: auto;
                    left: 5px;
                }
            }
        }

        &--editable {
            * {
                cursor: text;
            }

            #{$label} {
                &__input {
                    &:hover {
                        border-bottom-color: var(--activeColor);
                    }

                    &:focus-visible {
                        border-bottom-color: var(--activeColor);
                    }
                }
            }
        }
    }
}
